.statisticBox {
    background-color: aquamarine;
    position: relative;
}
.hadding {
    color:red;
    text-align: center;
}
.goodFeedback {
    color: rgb(240, 210, 37);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    margin-left: 40px;


    height: 50px;
    width: 80px;
    background-color: #fff;
    border-radius: 50%;

    align-items: center;
    display: flex;
    justify-content: center;

}
.goodFeedback:hover,
.goodFeedback:hover {
    scale: 1.4;
}
.neutralFeedback {
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* font-weight: 700; */

    margin-bottom: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 90px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 47%;
    top: 10%;
}
.neutralFeedback:hover,
.neutralFeedback:focus {
    scale: 1.4;
}
.badFeedback {
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 450px;
    /* font-weight: 700; */

    position: absolute;
    right: 3%;
    top: 10%;
    height: 50px;
    width: 80px;
    background-color: #fff;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;

}
.badFeedback:hover,
.badFeedback:focus {
    scale: 1.4;
}
.cauntFeedback {
    color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 430px;
    display: inline-block;
}
.procentageGoodFeedback {
    color:rgb(24, 47, 250);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 200px;
    display: inline-block;
}